#labelAccedi {
    -fx-font-size: 25px;
    -fx-text-fill: #000000;
}

#TFemail {
    -fx-border-color: black;
    -fx-prompt-text-fill: gray;
    -fx-border-radius: 3;
}

#pwd {
    -fx-border-color: black;
    -fx-prompt-text-fill: gray;
    -fx-border-radius: 3;
}

#TFborder {
    -fx-border-color: blue;
    -fx-border-radius: 4;
}

#bt1 {
    -fx-text-fill: black;
    -fx-text-size: 25px;
    -fx-background-color: transparent;
    -fx-border-radius: 3;
    -fx-border-color: black;
}

